.container {
  width: 100%;
  margin-top: 40px;
}

table {
  margin-left: 80px;
  width: 90%;
}

.mat-form-field {
  font-size: 18px;
  width: 90%;
  margin-left: 80px;
}

#btn-edit {
  font-size: 18px;
}
.font {
  font-family: "Ubuntu", "Roboto", sans-serif;
}

#btn-delete {
  font-size: 18px;
}

#btn-add {
  display: flex;
  align-self: flex-end;
}

.container-pagination {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.paginator {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}
