.wrapperForm{
    width: 100% !important;
}

mat-form-field{
    width: 100%;
}

.maxWidthBtn{
    width: 100%;
}

.alert{
    color: red;
    margin-bottom: 5px;
    margin-top: 0;
}

.icon-error{
    margin-right: 5px;
}