*{
    color:#43425D;
    text-align: center;
    
}

#image{
    width: 100%;
    height: 100%;
}
.container{
    display: flex;
    align-content: flex-start;
    width: 100%;
}

h1{
    margin-bottom: 50px;
}
.logo{
    width: 60px;
}

a{
    text-align: left;
    text-decoration: none;
    margin-top: 40px;
}


.container-form{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;

   
}

.container-img{
    display: flex;
    width: 100%;
    
}
  
.example-container > * {
    width: 80%;
}