.container {
  width: 100vw;
  height: 100vh;
}

.example-card {
  max-width: 200px;
  margin-left: 30px;
  margin-top: 20px;
}

.example-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}

.card-wrapper {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  margin-top: 40px;
  margin-left: 40px;
}

.card-content {
  margin-left: 10px;
  width: 100%;
}

.image{
  border: 2px solid;
  width: 92%;
}


/*.card {
  display: flex;
  width: 20%;
  height: 30%;
  justify-content: flex-start;
  align-content: flex-start;
  border: solid 3px;
  margin-left: 20px;
  margin-top: 40px;
  box-shadow: 5px 10px #888888;
}*/
.cards{
  border: solid 3px;
  box-shadow: 5px 10px #888888;
}

#tituloLibro {
  text-transform: capitalize;
}
#autor {
  font-size: 14px;
  text-transform: capitalize;
  font-weight: bold;
}

#categoria {
  font-size: 14px;
  color: #a3c2c2;
  text-transform: capitalize;
  
}

#fechaPublicacion {
  font-size: 14px;
  font-weight: bold;
}

#disponible {
  width: 120px;
  background-color: #00e64d;
  color: white;
  border: solid 2px;
  text-align: center;
  font-size: 17px;

}
#prestado {
  width: 120px;
  background-color: #ff3333;
  color: white;
  border: solid 2px;
  text-align: center;
  font-size: 17px;

}

#titlePage {
  margin-top: 20px;
  text-align: center;
}

.container-pagination {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.pagination /deep/ .ngx-pagination .current {
  background: red;
}

@media(min-width:1800px){
  .card {
    display: flex;
    width: 25%;
    height: 35%;
    justify-content: flex-start;
    align-content: flex-start;
    border: solid 3px;
    margin-left: 50px;
    margin-top: 40px;
    box-shadow: 5px 10px #888888;
  }

  .image{
    border: 2px solid;
    width: 95%;
  }
}
