.image {
  border: 2px solid;
  width: 100%;
}

::placeholder {
  color: red;
}

mat-form-field {
  margin-top: 10px;
  width: 30%;
}
.container {
  height: 100%;
}
.container-pagination {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.capitalize {
  text-transform: capitalize;
}

.autor {
  font-size: 14px;
}

.disponible {
  background-color: #58d68d;
  padding: 3px;
  color: green;
}
.prestamo {
  background-color: #cd6155;
  padding: 3px;
  color: red;
}
:host {
  margin-left: -5px;
  margin-right: -5px;
  margin-top: -5px;
  display: block;
}

:host {
  margin-left: -5px;
  margin-right: -5px;
  margin-top: -5px;
  display: block;
}

.filterSearch {
  margin-bottom: 20px;
  margin-right: 10px;
}

.font {
  font-family: "Ubuntu", "Roboto", sans-serif;
}
:host {
  .mat-sidenav {
    width: 200px;
  }
  .mat-drawer-container {
    overflow: visible;
    .mat-sidenav {
      overflow: visible;
    }
  }
  .mat-drawer-content {
    padding: 0;
  }
  @media (min-width: 959px) {
    .mat-drawer-side {
      background-color: transparent;
      box-shadow: none !important;
    }
  }
  .mat-slider-horizontal {
    width: 100%;
    min-width: 1px;
  }
}
