<div fxLayout="column" fxFlexFill>

  <form [formGroup]="createUser">
  <mat-form-field class="example-full-width">
    <input required matInput placeholder="Nombre" formControlName="name" name="name" />
  </mat-form-field>

  <div *ngIf="createUser.controls['name'].invalid && (createUser.controls['name'].dirty || createUser.controls['name'].touched)">
      <div class="alert alert-danger" *ngIf="createUser.controls['name'].errors.required">
        <small><i class="fas fa-exclamation-circle icon-error"></i>Nombre obligatorio</small>
      </div>

  </div>


  <mat-form-field class="example-full-width">
    <input matInput required placeholder="Email" formControlName="email" name="email" />
  </mat-form-field>

  <div *ngIf="createUser.controls['email'].invalid && (createUser.controls['email'].dirty || createUser.controls['email'].touched)">
    <div class="alert alert-danger" *ngIf="createUser.controls['email'].errors.required">
      <small><i class="fas fa-exclamation-circle icon-error"></i>Email obligatorio</small>
    </div>

    <div class="alert alert-danger" *ngIf="createUser.controls['email'].errors.email">
      <small><i class="fas fa-times icon-error"></i>Email incorrecto</small>
    </div>


  </div>

  <mat-form-field class="example-full-width">
    <input matInput required type="password" placeholder="Contraseña" formControlName="password" name="password" />
  </mat-form-field>
  <div *ngIf="createUser.controls['password'].invalid && (createUser.controls['password'].dirty || createUser.controls['password'].touched)">
      <div class="alert alert-danger" *ngIf="createUser.controls['password'].errors.required">
        <small><i class="fas fa-exclamation-circle icon-error"></i>Contraseña obligatoria</small>
      </div>

      <div class="alert alert-danger" *ngIf="createUser.controls['password'].errors.minlength">
          <small><i class="fas fa-exclamation-circle icon-error"></i>Mínimo 4 caracteres</small>
        </div>

  </div>

  <mat-form-field class="example-full-width">
    <input matInput required type="password" placeholder="Repita contraseña" formControlName="repetirPassword" name="repetirPassword" />
  </mat-form-field>

  <div *ngIf="createUser.controls['repetirPassword'].invalid && (createUser.controls['repetirPassword'].dirty || createUser.controls['repetirPassword'].touched)" class="alert alert-danger">
    <div *ngIf="createUser.controls['password'].value !== createUser.controls['repetirPassword'].value">
      <small><i class="fas fa-times icon-error"></i>Las contraseñas no coindicen</small>
    </div>
    
  

  </div>

  <mat-form-field class="example-full-width">
    <input matInput required placeholder="Teléfono" formControlName="phone" name="phone" />
  </mat-form-field>

  <div *ngIf="createUser.controls['phone'].invalid && (createUser.controls['phone'].dirty || createUser.controls['phone'].touched)">
    <div class="alert alert-danger" *ngIf="createUser.controls['phone'].errors.required">
      <small><i class="fas fa-exclamation-circle icon-error"></i>Teléfono obligatorio</small>
    </div>


  </div>

  <mat-form-field class="example-full-width">
    <textarea
      matInput
      placeholder="Observaciones (opcional)"
      formControlName="notes"
      name="content"
    ></textarea>
  </mat-form-field>

</form>


  <button mat-raised-button color="primary" [disabled]="!createUser.valid" (click)="nuevoUsuario()">
    Crear usuario
  </button>
</div>
