<mat-toolbar class="main-header" color="primary">
  <button (click)="toggleSidenav.emit()" mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>
  <div class="branding">
    <div class="logo">COF - TRIANA</div>
  </div>

  <!--
<div class="search-bar" fxFlex>
    <form class="search-form" [ngStyle.xs]="{display: 'none'}">
      <mat-icon>search</mat-icon>
      <input type="text" placeholder="Buscar" autofocus="true" />
    </form>
  </div>

  -->
  <span class="example-spacer"></span>
 
  <button style="text-transform:capitalize" mat-button [matMenuTriggerFor]="user">{{nombreLogueado}}</button>
  <mat-menu #user="matMenu" x-position="before">
    <button mat-menu-item>
      <mat-icon>account_box</mat-icon>
      Mi perfil
    </button>
    <button mat-menu-item (click)="logout()">
      <mat-icon>exit_to_app</mat-icon>
      Cerrar sesión
    </button>
  </mat-menu>
</mat-toolbar>
