<div fxLayout="column" fFlexFill>

  <form [formGroup]="createCategoria" fxLayout="column">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Nombre" formControlName="name" name="name" />
  </mat-form-field>

  <div *ngIf="createCategoria.controls['name'].invalid && (createCategoria.controls['name'].dirty || createCategoria.controls['name'].touched)">
      <div class="alert alert-danger" *ngIf="createCategoria.controls['name'].errors.required">
        <small><i class="fas fa-exclamation-circle icon-error"></i>Nombre de categoria obligatorio</small>
      </div>

  </div>

  <mat-form-field>
    <mat-select
      placeholder="Supercategoria"
      formControlName="idSuperCategoria"
      name="idSuperCategoria"
    >
      <mat-option *ngFor="let superCat of arraySuperCategorias" [value]="superCat.id">
        {{ superCat.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div *ngIf="createCategoria.controls['idSuperCategoria'].invalid && (createCategoria.controls['idSuperCategoria'].dirty || createCategoria.controls['idSuperCategoria'].touched)">
    <div class="alert alert-danger" *ngIf="createCategoria.controls['idSuperCategoria'].errors.required">
      <small><i class="fas fa-exclamation-circle icon-error"></i>Seleccione una categoria</small>
    </div>

</div>

</form>


  <button mat-raised-button color="primary" [disabled]="!createCategoria.valid" (click)="addCategoria()">
    Crear categoria
  </button>
</div>